.post-holder {
  padding-top: 1.5rem;
}
.posts {
  margin-top: 2rem;
}

.posts > li + li {
  margin-top: 2rem;
}

.posts .list {
  margin-top: 0.5rem;
}

.category {
  font-weight: 100;
  font-size: 60%;
}
