<!DOCTYPE html>
<html lang="en">

<head>
    {% include meta %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}" />
</head>

<body>
    <div class="container">
        {% include nav %}
        <div class="back-link">
            <a href="/">← Back</a>
        </div>
        {{ content }}
    </div>
    {% include footer %}
</body>

</html>