<footer class="footer-custom">
    <hr />
    Made with
    <span>
        <a target="_blank" rel="noreferrer" href="http://11ty.dev">11ty</a>,
    </span>
    <span>
        <a target="_blank" rel="noreferrer" href="https://github.com/oxalorg/sakura">sakura.css</a>
    </span>
    & hosted on
    <span>
        <a target="_blank" rel="noreferrer" href="https://vercel.com">Vercel</a>
    </span>
</footer>