<nav class="navMenu">
    <a href="/">Home</a>
    <a href="/experience">Experience</a>
    <div style="flex-grow: 1;"></div>
    <a href="http://github.com/sadn1ck" target="_blank" rel="noreferrer">
        GitHub
    </a>
</nav>