<nav class="navMenu">
    <a href="/">Home</a>
    <a href="/experience">Experience</a>
    <a style="flex-grow: 1;"></a>
    <a href="http://github.com/sadn1ck" target="_blank">
        GitHub
    </a>
</nav>