{% macro exp(item) %}
	<div class="holders">
		<h2 class="h3">{{item.title}}</h2>
		<div class="dates">{{item.from}} - {{item.to}}</div>
	</div>
	<div class="role">{{item.role}}</div>
	<ul class="xp-list">
		{% for detail in item.points %}
			<li>{{detail}}</li>
		{% endfor %}

	</ul>
{% endmacro %}

<h2 class="h2">Experience</h2>
<ul class="experience list">
	{% for item in experience | sort(attribute = 'from', reverse = 'true') %}
		{{exp(item)}}
	{% endfor %}
</ul>