<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="icon" type="image/png" href="/images/favicon.ico">
<meta name="robots" content="index, follow">
<meta name="author" content="Anik Das">
<meta name="Description" content="{% if summary %}{{ summary }}{% else %}Undergrad at IIEST Shibpur{% endif %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap" rel="stylesheet">