/* css reset */

* {
  margin: 0;
  padding: 0;
}


html {
  line-height: 1.8rem;
}

a,
a:visited {
  color: var(--gray);
  opacity: 90%;
}

a:hover {
  opacity: 60%;
}

/* generic stuff */

a {
  text-decoration-thickness: 0.25px;
  text-underline-offset: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
.work-co {
  all: unset;
  display: block;
}

code {
  font-size: 90%;
}

/* utility classes */

.text-bold {
  font-weight: bold;
}

.text-sm {
  font-size: 0.8rem;
  font-family: "PT Mono", monospace;
  color: 'gray';
}

.text {
  color: var(--text);
}

.text-gray {
  color: var(--gray);
}

.hidden {
  display: none;
}

/* custom css */

main {
  padding-top: 1rem;
}

section {
  margin-top: 4rem;
}

section>.name-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

section>.about-title,
section>.contact-title,
section>.work-title,
section>.post-title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.links {
  display: flex;
  gap: 0.5rem;
  padding-top: 1rem;
}

/* work */
.work-card {
  margin-bottom: 2rem;
}

.work-co>a:nth-child(1) {
  font-weight: bold;
  font-size: 1.1rem;
}

.work-details>p.work-content {
  margin-top: 0.75rem;
}

.work-time {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--gray);
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "PT Mono", monospace;
}

/* work */

ul {
  list-style-position: inside;
}

/* contact */
.contact-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.contact-card>p:nth-child(1) {
  display: none;
}


@media only screen and (min-width: 360px) {
  .contact-card>p:nth-child(1) {
    display: block;
    /* border: 2px solid red; */
  }
}

.contact {
  padding-bottom: 5rem;
}

/* posts */

.post-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.post-card a {
  margin-left: 2rem;
}

@media only screen and (max-width: 400px) {
  .post-card {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }

  .post-card a {
    margin-left: 0;
  }
}