<style>
    @layer custom {
        nav {
            display: flex;
            align-items: center;
            gap: 0.25em;
            font-size: 0.8rem;
        }

        nav a {
            margin-right: 8px;
        }
    }
</style>

<nav>
    <a href="/">Index</a>
    <a title="Resume" target="_blank" href="https://anikd.com/resume">Resume</a>
    <div style="flex-grow: 1;"></div>
    <a title="GitHub" target="_blank" href="https://github.com/sadn1ck">GitHub</a>
    <a title="BlueSky" target="_blank" href="https://bsky.app/profile/anikd.com">BlueSky</a>
    <a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/sadn1ck">LinkedIn</a>
</nav>
