@import './common.scss';
@import './prism-theme.scss';
@import './vars.scss';

.post-container {
  header {
    .post-date {
      font-size: 14px;
      color: $light-text;
    }
  }

  .content {
    line-height: 22px;
    h2 {
      margin: 24px 0 8px;
      font-weight: normal;
      line-height: 36px;
    }

    h3 {
      margin: 12px 0;
      line-height: 28px;
    }

    p {
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      margin-left: 18px;

      & > li::before {
        content: '–'; /* en dash here */
        position: absolute;
        margin-left: -1.1em;
      }
    }
  }

  // Select all text wrapped in `` in markdown - generated a `code` tag without a language class
  code:not([class*='language-']) {
    padding: 0.2em;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #333333;
    font-family: 'Jetbrains Mono', monospace;
  }
}

iframe {
  padding: 16px 0;
}