@import './vars.scss';
@import './sakura.scss';

.back-link {
  margin: 16px 0 16px 0;
}

// navbar stuff
.navMenu {
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  font-family: 'DM Sans', sans-serif;
}
.navMenu a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding-right: 1.5rem;
  text-transform: lowercase;
  &::after {
    content: ".";
  }
}

.navMenu a:hover {
  color: $green;
}

// footer stuff
.footer-custom{
  text-align: center;
  padding-top: 20px;
}