/* pt-serif-regular - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/pt-serif-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/pt-serif-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/pt-serif-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/pt-serif-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/pt-serif-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/pt-serif-v12-latin-regular.svg#PTSerif') format('svg'); /* Legacy iOS */
  }
  /* pt-serif-700 - latin */
  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/pt-serif-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/pt-serif-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/pt-serif-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/pt-serif-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/pt-serif-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/pt-serif-v12-latin-700.svg#PTSerif') format('svg'); /* Legacy iOS */
  }
  
  /* dm-sans-regular - latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/dm-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/dm-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/dm-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/dm-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/dm-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/dm-sans-v6-latin-regular.svg#DMSans') format('svg'); /* Legacy iOS */
  }
  /* dm-sans-700 - latin */
  @font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/dm-sans-v6-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/dm-sans-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/dm-sans-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/dm-sans-v6-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/dm-sans-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/dm-sans-v6-latin-700.svg#DMSans') format('svg'); /* Legacy iOS */
  }