:root {
  --width: 720px;
  --font-main: Verdana, sans-serif;
  --font-secondary: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --font-scale: 1em;
  --background-color: #fff;
  --heading-color: #222;
  --text-color: #444;
  --link-color: #3273dc;
  --visited-color: #8b6fcb;
  --code-background-color: #f2f2f2;
  --code-color: #222;
  --blockquote-color: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #01242e; /* Solarized Dark-ish or just dark */
    --background-color: #222;
    --heading-color: #eee;
    --text-color: #ddd;
    --link-color: #8cc2dd;
    --visited-color: #8b6fcb;
    --code-background-color: #444;
    --code-color: #ddd;
    --blockquote-color: #ccc;
  }
}

body {
  font-family: var(--font-main);
  font-size: var(--font-scale);
  margin: auto;
  padding: 20px;
  max-width: var(--width);
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
  color: var(--heading-color);
  line-height: 1.2;
}

strong,
b {
  color: var(--heading-color);
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a {
  margin-right: 10px;
}

strong,
b {
  font-weight: bold;
}

button {
  margin: 0;
  cursor: pointer;
}

main {
  line-height: 1.6;
}

table {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px dashed;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

pre {
  font-family: var(--font-secondary);
  border-radius: 6px;
}

code {
  font-family: var(--font-secondary);
  font-size: 0.9em;
  padding: 2px 4px;
  border-radius: 2px;
}

pre code {
  display: block;
  padding: 15px;
  overflow: auto;
  border-radius: 5px;
}

blockquote {
  border-left: 1px solid #999;
  color: var(--code-color);
  padding-left: 20px;
  font-style: italic;
}

footer {
  padding: 25px 0;
  text-align: center;
}

time {
  font-variant-numeric: tabular-nums;
}

.title {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--heading-color);
  display: block;
  margin-bottom: 0.5rem;
}

.title:hover {
  text-decoration: none;
}

header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee; /* Optional visual separation */
}

@media (max-width: 500px) {
  body {
    padding: 15px;
  }
}
