---
import { ViewTransitions } from "astro:transitions";
import Back from "../components/Back.astro";
import Layout from "../layouts/BaseLayout.astro";
---

<head>
  <ViewTransitions />
  <title>Craft ✦ Anik Das</title>
</head>
<Layout transition:name="fade">
  <main>
    <h1 class="relative text-lg mb-4">
      Craft
      <Back />
    </h1>
    <section style="--stagger: 1;">Coming soon™</section>
  </main>
</Layout>
