---
import About from "../components/home/about.astro";
import Projects from "../components/home/projects.astro";
import Work from "../components/home/work.astro";
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
  <main>
    <About />
    <hr class="w-full border-t-[1px] border-gray-600/20 mb-8" />
    <Projects />
    <hr class="w-full border-t-[1px] border-gray-600/20 mb-8" />
    <Work />
  </main>
</Layout>

<style></style>
