---
import chronicle from "../../assets/chronicle.svg?raw";
---

<section id="home">
  <h1 class="mb-7 tracking-wide text-lg">Anik Das</h1>
  <h2 class="mb-4">
    <span>Software Engineer at&nbsp;</span>
    <a class="inline-flex gap-1" href="https://chroniclehq.com" target="_blank">
      Chronicle <Fragment set:html={chronicle} /></a
    >
  </h2>
  <p class="mb-4">
    Building polished web interfaces. Working on Typescript & React, exploring
    backend, databases and tooling.
  </p>
  <div class="mb-8 flex gap-2">
    <a href="/blog">Blogs</a> ✦
    <a href="/craft">Craft</a>
  </div>
</section>
