---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog">;
};

const { entry } = Astro.props as {
  entry: CollectionEntry<"blog">;
};
---

<a
  href={`/${entry.collection}/${entry.id}`}
  class="BlogCard not-prose group relative flex flex-nowrap rounded-lg py-3 text-black dark:text-white pl-1"
>
  <div class="flex flex-1 flex-col truncate">
    <div class="truncate font-semibold">
      {entry.data.title}
    </div>
    <div class="truncate text-sm">
      {entry.data.description}
    </div>
  </div>
</a>
