---
const serverDate = new Date().toLocaleString("en-IN", {
  timeZone: "Asia/Kolkata",
  timeStyle: "long",
});
---

<script is:inline>
setInterval(() => {
  document.getElementById("footer-time").innerHTML =
    new Date().toLocaleString("en-IN", {
      timeZone: "Asia/Kolkata",
      timeStyle: "long",
    });
}, 1000);
</script>

<footer
  class="h-8 text-xs flex justify-between items-center mt-16 pt-4 pb-8 border-t-[1px] border-gray-500/40"
>
  <span id="footer-time">{serverDate}</span>
  <span>
    <span>Made with Astro – inspired by {" "}</span>
    <a href="https://paco.me" target="_blank">paco</a>
  </span>
</footer>
