---
import type { Heading } from "../types";
import Link from "./Link.astro";

// https://kld.dev/building-table-of-contents/

interface Props {
  heading: Heading;
  minDepth: number;
}

const { heading, minDepth } = Astro.props;
const shift = (heading.depth - minDepth) * 16;
---

<li
  class:list={["list-inside list-disc py-1.5 pl-6 pr-2 text-sm"]}
  style=`margin-left: ${shift}px;`
>
  <Link href={"#" + heading.slug} underline extraClass={`inline`}>
    {heading.text}
  </Link>
</li>
