---
import type { Heading } from "../types";
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

interface Props {
  headings: Heading[];
}

// https://kld.dev/building-table-of-contents/
const { headings } = Astro.props;

const  minDepth  = headings.map(h => h.depth).sort((a, b) => a-b)[0];
---

<details
  open
  class:list={[
    "animate rounded-lg border border-black/15 dark:border-white/20",
  ]}
>
  <summary>
    <span class="align-middle">Table of Contents</span>
  </summary>
  <nav class="">
    <ul class="py-3">
      {headings.map((heading) => <TableOfContentsHeading heading={heading} minDepth={minDepth} />)}
    </ul>
  </nav>
</details>

<style>
  summary {
    @apply cursor-pointer rounded-t-lg px-3 py-1.5 font-medium transition-colors;
  }

  summary:hover {
    @apply bg-black/5 dark:bg-white/5;
  }

  details[open] summary {
    @apply bg-black/5 dark:bg-white/5;
  }
</style>
