---
import { getCollection } from "astro:content";

const allBlogs = await getCollection("blog");
const allTags = allBlogs.map((tag) => tag.data.tags).flat();

console.log(allTags);
---

<span> </span>
