---
import "@fontsource-variable/inter";
import "@fontsource-variable/playfair-display";
import "../assets/global.css";
---

<!doctype html>
<html
  lang="en"
  class="min-h-screen bg-gray-200 text-gray-900 dark:bg-gray-800 dark:text-gray-50 max-w-xl mx-auto pt-16 px-8 lg:px-0 lg:pt-32"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{"Anik Das"}</title>
  </head>
  <body class="font-sans tracking-tight">
    <slot />
  </body>
</html>
