* {
    box-sizing: border-box;
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
        margin-top: 0;
    }
}

@supports (font-variation-settings: normal) {
    :root {
        --sans: InterVariable, sans-serif;
        --monospace: "Fira Code VF", monospace;
    }
}

:root {
    --accent-color: 79, 79, 238;
    --text: 14, 14, 14;
    --bg: 249, 249, 249;
    --content-width: 640px;
    --sans: Inter, sans-serif;
    --monospace: "Fira Code", monospace;

    /* dot */
    --dot-bg: rgb(var(--text));
    --dot-size: 1px;
    --dot-space: 24px;
    --grid-size: 100vh;
    --fade-distance: 75vh;
}

.grid-background {
    position: fixed;
    bottom: -25vh;
    left: -25vw;
    width: var(--grid-size);
    height: var(--grid-size);
    opacity: 0.15;
    isolation: isolate;
    z-index: -1;
    background-image: radial-gradient(rgb(var(--text)) var(--dot-size), transparent var(--dot-size)),
        radial-gradient(rgb(var(--text)) var(--dot-size), transparent var(--dot-size));
    background-size: var(--dot-space) var(--dot-space);
    background-position:
        0 0,
        calc(var(--dot-space) / 2) calc(var(--dot-space) / 2);
    mask-image: radial-gradient(
        circle closest-side,
        black calc(100% - var(--fade-distance)),
        transparent 100%
    );
    -webkit-mask-image: radial-gradient(
        circle closest-side,
        black calc(100% - var(--fade-distance)),
        transparent 100%
    );
}

@media (max-width: 768px) {
    .grid-background {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: 117, 117, 205;
        --text: 220, 220, 220;
        --bg: 14, 14, 14;
    }
}

::selection {
    background-color: rgba(var(--accent-color), 0.25);
}

html {
    font-family: var(--sans);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: normal;
    accent-color: rgb(var(--accent-color));
    color: rgb(var(--text));
    background-color: rgb(var(--bg));
    height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    display: flex;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    max-width: 840px;
    text-rendering: optimizeLegibility;
    gap: 1rem;
    padding: 6rem 2rem 2rem 2rem;
    overflow-y: scroll;
}

main {
    height: 100%;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 1rem;
}

/* Justify and hyphenate all paragraphs */
p,
ul,
ol {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}

li {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}

/* Make images easier to work with */
img,
video,
iframe {
    max-width: 100%;
    height: auto;
    margin: 2rem 0;
    display: block;
    border-radius: 4px;
}

a {
    color: rgb(var(--accent-color));
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-skip-ink: all;
        text-underline-offset: 4px;
    }
}

p code,
li code {
    border-radius: 4px;
    background: rgba(var(--accent-color), 0.15);
    outline: 1px solid rgba(var(--accent-color), 0.5);
    padding: 4px;
}

code {
    letter-spacing: -0.03%;
    /* prevent line break in code */
    white-space: nowrap;
}

pre {
    padding: 1rem;
    border-radius: 4px;

    &:focus {
        outline: none;
    }

    code {
        white-space: unset;
    }
}

blockquote {
    border-left: 4px solid rgba(var(--accent-color), 0.5);
    padding-left: 1rem;
    margin: 1.5rem 0;
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.075rem;
    font-feature-settings:
        "liga" 1,
        "dlig" 1,
        "calt" 1;
}

a {
    font-family: var(--sans);

    &::after {
        font-family: var(--sans);
    }

    &.dead {
        pointer-events: none;
        color: gray;
    }
}

.spacer {
    padding: 0.5rem 0;
}
