/* navigation */

/* desktop */
nav {
    display: flex;
    flex-direction: column;
}

/* mobile */
@media screen and (max-width: 768px) {
    nav {
        gap: 8px;
    }
}

nav {
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .navgroup:last-child {
        margin-top: auto;
    }

    padding-top: 4px;
    min-width: 220px;
    max-height: 30vh;

    /* desktop */
    .navgroup {
        display: flex;
        flex-direction: column;
        padding: 2px 8px;

        &.external li {
            display: flex;
            align-items: center;
            gap: 4px;
        }
        &.external a::after {
            content: " \2197";
        }
    }

    /* mobile */
    @media screen and (max-width: 768px) {
        .navgroup {
            flex-direction: row;
            gap: 8px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

/* blog list */
.blog-list {
    display: flex;
    flex-direction: column;
}

.blog-list .title {
    font-weight: 600;
}

.blog-list a {
    border-bottom: 1px solid rgba(var(--accent-color), 0.1);
    color: rgba(var(--text), 1);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

@media screen and (max-width: 500px) {
    .blog-list a .date {
        display: none;
    }
}

.blog-list a .date {
    font-family: var(--monospace);
}

.blog-list a:hover {
    border-bottom: 1px solid rgba(var(--accent-color), 0.4);
}
/* blog list */

/* project list */
.project-list {
    display: flex;
    flex-direction: column;
}

.project-list .title {
    font-weight: 600;
}

.project-list a {
    border-bottom: 1px solid rgba(var(--accent-color), 0.1);
    color: rgba(var(--text), 1);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1rem 0;
}

.project-list a .desc {
    font-size: small;
    font-family: var(--sans);
}

.project-list a:hover {
    border-bottom: 1px solid rgba(var(--accent-color), 0.4);
}
/* project list */

[data-blog="false"] #backtotop {
    opacity: 0;
}
[data-blog="true"] #backtotop {
    opacity: 1;
}

.btn-to-top {
    all: unset;
    margin-top: 4rem;
    background-color: rgba(var(--accent-color), 0.15);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: small;
    &:active {
        background-color: rgba(var(--accent-color), 0.25);
    }
    &:focus {
        outline: 1px solid rgb(var(--accent-color));
    }
}

/* shiki setup */

.shiki {
    font-size: 13px;
}

@media (prefers-color-scheme: dark) {
    .shiki,
    .shiki span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        /* Optional, if you also want font styles */
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
        font-family: var(--monospace) !important;
        line-height: 140%;
    }
}
